<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .report_query {
            width: 98%;
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 9pt;
            font-family: Arial;
        }
        .report_query caption {
            text-align: center;
        }
        .report_query th {
            border: 1px solid black;
            background-color: lightgray;
            font-size: 9pt;
            text-align: center;
            padding: 3px;
            font-weight: bold;
        }
        .report_query td {
            border: 1px solid black;
            font-size: 9pt;
            padding: 3px;
        }
        .report_query td.right {
            text-align: right;
        }
        .report_query td.total {
            border: 1px solid black;
            background-color: lightgray;
            font-size: 9pt;
            font-weight: bold;
        }
        {%- if report.show_sql %}
            .highlight .hll { background-color: #ffffcc }
            .highlight  { background: #f8f8f8; padding: 10px; margin: 10px;}
            .highlight .c { color: #408080; font-style: italic } /* Comment */
            .highlight .err { border: 1px solid #FF0000 } /* Error */
            .highlight .k { color: #008000; font-weight: bold } /* Keyword */
            .highlight .o { color: #666666 } /* Operator */
            .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
            .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
            .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
            .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
            .highlight .gd { color: #A00000 } /* Generic.Deleted */
            .highlight .ge { font-style: italic } /* Generic.Emph */
            .highlight .gr { color: #FF0000 } /* Generic.Error */
            .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
            .highlight .gi { color: #00A000 } /* Generic.Inserted */
            .highlight .go { color: #888888 } /* Generic.Output */
            .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
            .highlight .gs { font-weight: bold } /* Generic.Strong */
            .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
            .highlight .gt { color: #0044DD } /* Generic.Traceback */
            .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
            .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
            .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
            .highlight .kp { color: #008000 } /* Keyword.Pseudo */
            .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
            .highlight .kt { color: #B00040 } /* Keyword.Type */
            .highlight .m { color: #666666 } /* Literal.Number */
            .highlight .s { color: #BA2121 } /* Literal.String */
            .highlight .na { color: #7D9029 } /* Name.Attribute */
            .highlight .nb { color: #008000 } /* Name.Builtin */
            .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
            .highlight .no { color: #880000 } /* Name.Constant */
            .highlight .nd { color: #AA22FF } /* Name.Decorator */
            .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
            .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
            .highlight .nf { color: #0000FF } /* Name.Function */
            .highlight .nl { color: #A0A000 } /* Name.Label */
            .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
            .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
            .highlight .nv { color: #19177C } /* Name.Variable */
            .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
            .highlight .w { color: #bbbbbb } /* Text.Whitespace */
            .highlight .mf { color: #666666 } /* Literal.Number.Float */
            .highlight .mh { color: #666666 } /* Literal.Number.Hex */
            .highlight .mi { color: #666666 } /* Literal.Number.Integer */
            .highlight .mo { color: #666666 } /* Literal.Number.Oct */
            .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
            .highlight .sc { color: #BA2121 } /* Literal.String.Char */
            .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
            .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
            .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
            .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
            .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
            .highlight .sx { color: #008000 } /* Literal.String.Other */
            .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
            .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
            .highlight .ss { color: #19177C } /* Literal.String.Symbol */
            .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
            .highlight .vc { color: #19177C } /* Name.Variable.Class */
            .highlight .vg { color: #19177C } /* Name.Variable.Global */
            .highlight .vi { color: #19177C } /* Name.Variable.Instance */
            .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
        {%- endif -%}
        {% block extra_style %}{% endblock %}
    </style>
</head>
<body>
{%- if report.show_sql -%}
    {% code 'sql' %}
        {% for rec in report.sql_log %}
-- {{ rec.time }} ms
{{ rec.sql }}
        {% endfor %}
    {% endcode %}
{%- endif -%}
{% if report.error %}
    <p style="margin: 10px">При попытке выполнения отчета возникла ошибка.</p>
    <pre>{{ report.error }}</pre>
{% else %}

{% if report.extra_context.png_chart %}
    <img src="data:image/png;base64,{{ report.extra_context.png_chart|safe }}"/>
{% endif %}

{% block header %}
{% endblock %}

<table class="report_query" style="margin: 10px">
    <caption>
        {%- block report_title -%}
        <h4>{{- report.title -}}<br/>
        {%- for f in report.filters_list -%}
            {% if f.show_values and f.value %}
                {{ f.label }}:&nbsp;
                {%- for v in f.verbose_values -%}
                    {{ v }}{% if not loop.last %},{% endif %}
                {%- endfor -%}
                {% if not loop.last %}<br/>{% endif %}
            {% endif %}
        {%- endfor -%}
        </h4>
        {%- block extra_title -%}
        {%- endblock -%}
        {%- endblock -%}
    </caption>
<thead>
    <tr>
        {%- block report_head -%}
        {% if report.enumerate_rows %}
            <th width="40px">№ п/п</th>
        {% endif %}
        {% for f in report.visible_fields %}
            <th>{{ f.column_name or f.label }}</th>
        {% endfor %}
        {%- endblock -%}
    </tr>
</thead>
<tbody>
{%- block report_body -%}
{% if report.show_total and total.subtotals %}
    {% for subtotal in total.subtotals %}
        {% for row in subtotal.group %}
            <tr>
                {% if report.enumerate_rows %}
                    <td>{{ row._number }}</td>
                {% endif %}
                {% for f in report.visible_fields %}
                    <td class="{% if f.type in ('int', 'float', 'interval', 'time') %}right{% endif %}">{{ row[f.name] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            {% if report.enumerate_rows %}
                <th>&nbsp;</th>
            {% endif %}
            {% for f in report.visible_fields %}
                <td class="total {% if f.type in ('int', 'float', 'interval', 'time') %}right{% endif %}">
                    {% if f.name in subtotal.group_keys %}
                        {{ f.format_value(subtotal.key_values[f.name]) }}
                    {% else %}
                        {%- if f.calculate_total -%}
                            {{ subtotal.total.get(f.name, '') }}
                        {%- else -%}
                            &nbsp;
                        {%- endif -%}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% else %}
    {% for row in data %}
        <tr>
            {% if report.enumerate_rows %}
                <td>{{ row._number }}</td>
            {% endif %}
            {% for f in report.visible_fields %}
                <td class="{% if f.type in ('int', 'float', 'interval', 'time') %}right{% endif %}">{{ row[f.name] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endif %}
{%- endblock -%}
{% if report.show_total %}
{%- block report_total -%}
    <tr><td class="total" colspan="{{ report.enumerate_rows|int + report.visible_fields|count }}">Итого</td></tr>
    <tr>
        {% if report.enumerate_rows %}
            <th>&nbsp;</th>
        {% endif %}
        {% for f in report.visible_fields %}
            <td class="total {% if f.type in ('int', 'float', 'interval', 'time') %}right{% endif %}">
                {%- if f.calculate_total -%}
                    {{ total.get(f.name, '') }}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
        {% endfor %}
    </tr>
{%- endblock -%}
{% endif %}
</tbody>
</table>
{% endif %}

{% block footer %}
{% endblock %}

</body>
